:root {
  --cor-fundo: #f2ede9;
  --cor-dourado: #ce97aa;
  --cor-texto: #2c2c2c;
  --cor-texto-claro: #888;
  --cor-header: #fdfdfd;
  --cor-rodape: #2c2c2c;
  --cor-borda: #0000001c;
  --fonte-titulo: 'Cormorant Garamond', serif;
  --fonte-corpo: 'Montserrat', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--cor-fundo);
  font-family: var(--fonte-corpo);
  color: var(--cor-texto);
}