<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header class="cabecalho">
        <div class="cabecalho__logo">
            <img src="../assets/icons/image-removebg-preview (1).png" alt="">
        </div>

        <nav class="cabecalho__nav">
            <a href="home.html">Home</a>
            <a href="projeto.html">Projetos</a>
            <a href="servicos.html">Serviços</a>
            <a href="sobre.html">Sobre</a>
        </nav>

        <a href="orcamentos.html" class="cabecalho__botao">Solicitar</a>


    </header>
</body>

</html>