@import url(./global.css);
@import url(./components/header.css);

body {

        position: relative;
        background-color:#f3f0f0;
    }

banner1 {
    background-image: linear-gradient(rgba(149, 1, 1, 0.4), rgba(0,0,0,.40));
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
    background-position-y: center;
    position: center;   
    }

        figure.banner1 {
        background-image: linear-gradient(rgba(149, 1, 1, 0.4), rgba(0,0,0,.40));
        position: sticky;  
        top: 0%;
        width:100%;     
        height: 550p5;
        background-size: cover;
        background-position: center;  
        display: inline-block;
        margin: auto;
              
    }            
        
        
        figure.banner1 figcaption {
            background-image: linear-gradient(rgba(150, 72, 72, 0.4), rgba(0,0,0,.40));
            width: 100%;
            height: 100%;            
            position: absolute;
            top: 0;
            padding: 10px;
            box-sizing: border-box; 
            display: inline; 
        }


       h1 {
       color: #f3f0f0;
       text-align: center;   
       margin-top: 150px;
       font-family: 'Arial Black', Arial, sans-serif;
       font-size: 48px;
       font-weight: bold;
       text-shadow: 2px 2px 4px black;
       position: absolute;
       left: 50%;
       transform: translateX(-50%);
       }

         p {
         color: white;
         margin-top: 20px;
         text-align: center;
         font-family: 'Arial', sans-serif;
         font-size: 30px;
         text-shadow: 2px 2px 4px black ;
         position: absolute;
         background-image: linear-gradient(rgba(150, 72, 72, 1), rgba(0,0,0,.80));
         background-position: center;
         
                         
         
         }

         h2 {
         color:#f3f0f0;
         text-align: left;
         font-family: 'Arial Black', Arial, sans-serif;
         background-image: linear-gradient(rgba(150, 72, 72, 1), rgba(0,0,0,.80));
     
        font-size: 30px;
         text-shadow: 2px 2px 4px black;
         position: absolute;
         left: 50%;
         top: 5%;    
         }

        figure.personalizados {
        position: relative;           
        border: 8px solid white;
        box-shadow: 1px 1px 4px black;
        margin: 20px auto;       
        width: 90%;
        height: 500px; 
        display: inline-block; 
    
        
              
        }
        
        figure.personalizados img {
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center;            
            position: relative;
            
        }
        
        figure.personalizados figcaption {            
            width: 100%;
            height: 100%;            
            top: 0;
            padding: 10px;
            box-sizing: border-box; 
            position: absolute;
     
            }

        