.cabecalho {
  background-color: var(--cor-rodapeheader);
  display: flex;              /* coloca os filhos em linha */
  align-items: center;        /* centraliza verticalmente */
  justify-content: space-between; /* espaço entre logo, nav e botão */
  padding: 16px 40px;
  border-bottom: 1px solid #0000001c;
  position: sticky;           /* fica fixo no topo ao rolar */
  top: 0;
  z-index: 100;
}


.cabecalho__logo-texto {
  font-family: var(--fonte-titulo) !important;
  font-size: 28px;
  font-weight: 600;
  color: var(--cor-texto);
  letter-spacing: 2px;
}

.cabecalho__logo img {
  height: 50px;  /* ajuste esse número até ficar do tamanho que quiser */
  width: auto;   /* mantém a proporção sem distorcer */
}

.cabecalho__nav a {
  text-decoration: none;
  color: var(--cor-texto) !important;
  font-size: 14px !important;
  margin-left: 32px;
  letter-spacing: 0.5px !important;
  transition: color 0.2s;
}

.cabecalho__nav a:hover {
  color: var(--cor-dourado);
}

.cabecalho__botao {
  text-decoration: none;
  background-color: transparent;   /* sem fundo */
  color: var(--cor-texto);          /* texto escuro */
  font-size: 12px;
  font-family: var(--fonte-corpo);
  font-weight: 600;
  letter-spacing: 1.5px;
  padding: 10px 22px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  border: 1px solid var(--cor-borda);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}


.cabecalho__botao:hover {
  color: #ffffffff;
  background-color: var(--cor-dourado);
  border-color: var(--cor-dourado);
}